<footer>
<section class="container-footer">
  <section>
    <h2>
      Travel
    </h2>
  </section>
  <section>
    <h2>
      Our Destinations
    </h2>
    <ul>
      <li>
        <a [routerLink]="['alaska']"> Alaska</a>
      </li>
      <li>
        <a [routerLink]="['antarctica']"> Antarctica </a>
      </li>
      <li>
        <a [routerLink]="['canada']"> Canada </a>
      </li>
      <li>
        <a [routerLink]="['finland']"> Finlande </a>
      </li>
      <li>
        <a [routerLink]="['greenland']"> Greenland </a>
      </li>
      <li>
        <a [routerLink]="['faroe']"> Faroe Islands </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>
      Thematic
    </h2>
    <ul>
      <li>
        <a href="#"> Northern Lights </a>
      </li>
      <li>
        <a href="#"> Canoeing </a>
      </li>
      <li>
        <a href="#"> Sled Dog </a>
      </li>
      <li>
        <a href="#"> Cruise </a>
      </li>
      <li>
        <a href="#"> Family </a>
      </li>
      <li>
        <a href="#"> Multi-activités </a>
      </li>
      <li>
        <a href="#"> Multi-activitis </a>
      </li>
      <li>
        <a href="#"> Photos </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>
      Social Media
    </h2>
    <ul>
      <li>
        <a href="#"> Facebook </a>
      </li>
      <li>
        <a href="#"> Instagram </a>
      </li>
      <li>
        <a href="#"> LinkedIn  </a>
      </li>
      <li>
        <a href="#"> Twitter  </a>
      </li>
    </ul>
  </section>
</section>
</footer>