<footer>
<section class="container-footer">
  <section>
    <h2>
      Travel
    </h2>
  </section>
  <section>
    <h2>
      Nos destinations
    </h2>
    <ul>
      <li>
        <a href="#"> Alaska</a>
      </li>
      <li>
        <a href="#"> Antarctique </a>
      </li>
      <li>
        <a href="#"> Canada </a>
      </li>
      <li>
        <a href="#"> Finlande </a>
      </li>
      <li>
        <a href="#"> Groeland </a>
      </li>
      <li>
        <a href="#"> Iles Feroee </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>
      Thématiques
    </h2>
    <ul>
      <li>
        <a href="#"> Aurores boréales </a>
      </li>
      <li>
        <a href="#"> Autotour </a>
      </li>
      <li>
        <a href="#"> Canoë </a>
      </li>
      <li>
        <a href="#"> Chien de traîneau </a>
      </li>
      <li>
        <a href="#"> Croisière & voile </a>
      </li>
      <li>
        <a href="#"> Famille </a>
      </li>
      <li>
        <a href="#"> Multi-activités </a>
      </li>
      <li>
        <a href="#"> Observation animalière </a>
      </li>
      <li>
        <a href="#"> Photo </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>
      Nos Voyages
    </h2>
    <ul>
      <li>
        <a href="#"> Accompagnés </a>
      </li>
      <li>
        <a href="#"> Sur mesure </a>
      </li>
      <li>
        <a href="#"> Croîsières </a>
      </li>
    </ul>
  </section>
</section>
</footer>