<body>
<section class="container">
  <h1>
    Cruise 
  </h1>

  <div class="alaska container">
    <div>
      <img src="https://i.imgur.com/aRn8pvd.png" alt="">
    </div>

    <div>
      <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
      </p>
    </div>
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/NtYDLoH.png" alt="">
    <img src="https://i.imgur.com/a5tCJYD.png" alt="">
  </div>
  <div>
  <h2>
    + 
  </h2>
  <div>
  <div>
    <ul>
      <li>
        <a [routerLink]="['/alaska']">Alaska</a>
      </li>
      <li>
        <a [routerLink]="['/antarctica']">Antarctica</a>
      </li>
      <li>
        <a [routerLink]="['/canada']">Canada</a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <a [routerLink]="['/finland']">Finlande</a>
      </li>
      <li>
        <a [routerLink]="['/greenland']">Greenland</a>
      </li>
      <li>
        <a [routerLink]="['/faroe']">Faroe Islands</a>
      </li>
    </ul> 
  </div>
</div>   
</div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/S0X2hoD.png" alt="">
    <img src="https://i.imgur.com/hPCWOiq.png" alt="">
  </div>
</section>

</body>