<body>
  <section class="container">
    <h1>
      Finland 
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/QySYFhD.png" alt="">
      </div>

      <div>
        <p>
        Finland is a Nordic country in Northern Europe. It shares land borders with Sweden to the west, Russia to the east, Norway to the north, and is defined by the Gulf of Bothnia to the west. Finland covers an area of 338,455 square kilometres (130,678 sq mi), with a population of 5.5 million. Helsinki is the country's capital and largest city, but together with the neighboring
        </p>
      </div>
    </div>
  </section>

  <h2 class="h2-top">
    Destinations
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>


<section class="container-imagens">
  <div class="imagens">
    <img src="https://i.imgur.com/Xy68b7e.png" alt="">
    <img src="https://i.imgur.com/I9xMp4F.png" alt="">
  </div>
  <div class="imagens">
    <img src="https://i.imgur.com/NUBtkT1.png" alt="">
    <img src="https://i.imgur.com/ApCBrXN.png" alt="">
    <img src="https://i.imgur.com/9ZBbyUL.png" alt="">
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/A1zLxfO.png" alt="">
    <img src="https://i.imgur.com/l1iONIy.png" alt="">
  </div>
</section>

</body>
