<body>
  <section class="container">
  <h1 class="vertical">
    Alaska
  </h1>

  <div class="alaska container">
  <div>
    <img src="https://i.imgur.com/UmcIPZ8.png" alt="">
  </div>

  <div>
    <p>
    Alaska is a state in the Western United States, on the northwest extremity of the country's west coast. A semi-exclave of the U.S., it borders the Canadian. British Columbia and territory of Yukon to the east and has a maritime border with Russia's Chukotka Autonomous Okrug to the west, just across the Bering Strait.
    </p>
  </div>
  </div>
  </section>

  <h2 class="container h2-top">
  Top Cities
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>

  <section class="imagens">
    <div>
      <img src="https://i.imgur.com/dimpwCO.png" alt="">
      <img src="https://i.imgur.com/UzSD4Xn.png" alt="">
      <img src="https://i.imgur.com/ogtXL6H.png" alt="">
      <img src="https://i.imgur.com/CGh7jKh.png" alt="">
    </div>
    <div>
      <img src="https://i.imgur.com/T1x4AFW.png" alt="">
      <img src="https://i.imgur.com/muAzjt7.png" alt="">
      <img src="https://i.imgur.com/LQw0MbN.png" alt="">
      <img src="https://i.imgur.com/d3cJ9uP.png" alt="">
    </div>
  </section>
</body>
