<body>
  <section class="container">
    <h1>
      Faroe Islands
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/q2OHgcc.png" alt="">
      </div>

      <div>
        <p>
        Faroe Islands are a North Atlantic archipelago located 320 kilometres (200 mi) north-northwest of Scotland, and about halfway between Norway and Iceland. Like Greenland, it is a constituent country of the Kingdom of Denmark. While part of the Kingdom of Denmark, the Faroe Islands have been self-governing since 1948, controlling most areas apart from military defence, policing, justice, currency, and foreign affairs.
        </p>
      </div>
    </div>
  </section>

  <h2 class="h2-top">
    Destinations
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>


<section class="container-imagens">
  <div class="imagens">
    <img src="https://i.imgur.com/RCMh9HY.png" alt="">
    <img src="https://i.imgur.com/sizNKIg.png" alt="">
  </div>
  <div class="imagens">
    <img src="https://i.imgur.com/lFASvlu.png" alt="">
    <img src="https://i.imgur.com/LrlBg0k.png" alt="">
    <img src="https://i.imgur.com/xDkxiXQ.png" alt="">
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/RvlrTDU.png" alt="">
    <img src="https://i.imgur.com/9QZExkV.png" alt="">
  </div>
</section>

</body>
