<body>
  <section class="container">
    <h1>
      Alaska
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/UmcIPZ8.png" alt="">
      </div>

      <div>
        <p>
        Alaska is a state in the Western United States, on the northwest extremity of the country's west coast. A semi-exclave of the U.S., it borders the Canadian. British Columbia and territory of Yukon to the east and has a maritime border with Russia's Chukotka Autonomous Okrug to the west, just across the Bering Strait.
        </p>
      </div>
    </div>
  </section>

  <h2 class="h2-top">
    Destinations
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>


<section class="container-imagens">
  <div class="imagens">
    <img src="https://i.imgur.com/XBN1wTX.png" alt="">
    <img src="https://i.imgur.com/ReFVDt7.png" alt="">
  </div>
  <div class="imagens">
    <img src="https://i.imgur.com/cOwtz6F.png" alt="">
    <img src="https://i.imgur.com/o9ljTTJ.png" alt="">
    <img src="https://i.imgur.com/N5bGD9M.png" alt="">
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/rEywnLr.png" alt="">
    <img src="https://i.imgur.com/KQWNipY.png" alt="">
  </div>
</section>

</body>
