<body>
  <section class="container">
    <h1>
      Aurora 
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/oY3WLWa.png" alt="">
      </div>

      <div>
        <p>
        An aurora, sometimes referred to as polar lights, northern lights, or southern lights, is a natural light display in the Earth's sky, predominantly seen in high-latitude regions (around the Arctic and Antarctic). Auroras are the result of disturbances in the magnetosphere caused by solar wind. These disturbances alter the trajectories of charged particles in the magnetospheric plasma.
        </p>
      </div>
    </div>
  </section>

  <section class="container-imagens">
    <div>
      <img src="https://i.imgur.com/sjvXgkH.png" alt="">
      <img src="https://i.imgur.com/9fFzWdk.png" alt="">
    </div>
    <div>
      <h2>
        v i e w m o r e 
      </h2>
      <a href="#">Alaska</a>
      <a href="#">Antarctica</a>
      <a href="#">Canada</a>
      <a href="#">Finlande</a>
      <a href="#">Greenland</a>
      <a href="#">Faroe Islands</a>
    </div>
  </section>

  <section class="container-imagens">
    <div>
      <img src="https://i.imgur.com/dvTHxWj.png" alt="">
      <img src="https://i.imgur.com/RhxFglu.png" alt="">
    </div>
  </section>

</body>