* {
  padding: 0;
  margin: 0;
}

body > section:nth-child(1) {
  margin-top: 10%;
  margin-bottom: 10%;
}

li {
  list-style: none;
}

.container {
  max-width: 950px;
  display: flex;
  margin: 0 auto;
}

.alaska {
  justify-content: space-between;
  background-color: #da6d09;
}

.alaska > div:nth-child(1) > img {
  position: relative;
  bottom: 5%;
  left: 3%;
}

.alaska > div:nth-child(2) > p {
  padding: 8%;
}

.alaska > div:nth-child(2) {
  align-self: center;
  font-family:  'Noto Sans';
  font-size: 0.90rem;
}

h1 {
  writing-mode: vertical-lr;
  font-size: 3rem;
  transform: rotate(180deg);
  align-self: center;
}

.container-imagens {
  justify-content: center;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
}

.container-imagens:nth-child(2) > div > img:nth-child(1),
.container-imagens:nth-child(3) > div > img:nth-child(1) {
  margin-right: 5px;
}

.container-imagens:nth-child(2) > div:nth-child(2) {
  /*background-color: #da6d09;*/
  width: 295px;
  align-items: center;
  display: flex;
  margin-left: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
}

.container-imagens:nth-child(2) > div > h2 {
  font-family: 'Noto Sans';
  font-size: 3rem;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  font-family: 'Noto Sans';
  color: #da6d09;
  margin-left: 5px;
	display: block;
}

.container-imagens:nth-child(2) > div > div {
  display: flex;
}

.container-imagens:nth-child(2) > div > div > div:nth-child(1){
  text-align: right;
}

