<section>
  <h1>
    About
  </h1>
  IMAGEM aliquip
  <p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  </p>
</section>

<section>
  <section>
    <h2>
      Contact Us
    </h2>
    <ul>
      <li>
      2532, Broadway New York 10025 NY
      </li>
      <li>
        travel@travel.com
      </li>
      <li>
        +1 212-932-0068
      </li>
      <li>
        09:00 AM - 06:00 PM
      </li>
    </ul>
  </section>

  <section>
    <h2>
    Get in Touch
    </h2>
    <p>
      Feel free to drop us a line below!
    </p>
    <form action="">
      <label for="name">
        Your name:
      </label>
      <input type="text" name="name" id="name">
      <label for="email">
        Your email:
      </label>
      <input type="email" name="email" id="email">
      <label for="message">Typing your message here...</label>
      <textarea name="message" id="message" cols="50" rows="10"></textarea>
    </form>
    <button>
      SEND
    </button>
  </section>
</section>

<section>
  <h2>
    Frequently Asked Questions
  </h2>
  <section>
    <h3>
      What is Lorem Ipsum?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <h3>
      Where does it come from?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <h3>
      Why do we use it?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </section>
  <section>
    <h3>
      Where can I get some?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <h3>
      What is Lorem Ipsum?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <h3>
      Where does it come from?
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </section>
</section>