<header>
  <section class="canada">
    <p>
      LOREM IPSUM DOLOR SIT AMET, CONSECTET
    </p>
    <h1>
      CANADA
    </h1>
    <a href="#">
      Explore now
    </a>
  </section>

  <section class="icons container">
    <section class="icon icon01">
      <p>
         Canada IAstrian
        <span>City 27/04</span>
      </p>
    </section>
    <section class="icon icon02">
      <p>
        @7 ticket canada
        <span>tostrian</span>
      </p>
    </section>
    <section class="icon icon03"> 
      <p>
        3 rome 2 wahsroom
        <span>1 kitchen</span>
      </p>
    </section>

  </section>
</header>


<main class="container">
  <section>
    <img src="https://i.imgur.com/g2LTfP4.png" alt="">
  </section>

  <section>
    <h2>
      Feel The Beautiful Canada Town
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    </p>
    <a href="#">
      Explore now
    </a>
  </section>
</main>

<h2 class="container h2-top">
  Top Cities
</h2>

<section class="topcities">
  <section>
    <img src="https://i.imgur.com/JRiuNMr.png" alt="">
    <h3>
      Mancher
    </h3>
    <p>
      3 days 4 nigths
    </p>
    <p>
      Mancher road side, of 2030.ads
    </p>
      <section>
        <a href="#">Book Now</a> <p> $399 </p>
      </section>
  </section>

  <section>
    <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
    <h3>
      Mancher
    </h3>
    <p>
      3 days 4 nigths
    </p>
    <p>
      Mancher road side, of 2030.ads
    </p>
      <section>
        <a href="#">Book Now</a> <p> $399 </p>
      </section>
  </section>

  <section>
    <img src="https://i.imgur.com/YG3FLm0.png" alt="">
    <h3>
      Mancher
    </h3>
    <p>
      3 days 4 nigths
    </p>
    <p>
      Mancher road side, of 2030.ads
    </p>
      <section>
        <a href="#">Book Now</a> <p> $399 </p>
      </section>
  </section>

  <section>
    <img src="https://i.imgur.com/e5DTV7i.png" alt="">
    <h3>
      Mancher
    </h3>
    <p>
      3 days 4 nigths
    </p>
    <p>
      Mancher road side, of 2030.ads
    </p>
      <section>
        <a href="#">Book Now</a> <p> $399 </p>
      </section>
  </section>

</section>

<h2 class="h2-center">
  Process
</h2>  

<section class="process container-no-wrap">
  <section>
    <h3>
      01
    </h3>
    <p>
      Explore travel
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </p>
  </section>

  <section>
    <h3>
      02
    </h3>
    <p>
      Explore travel
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </p>
  </section>

  <section>
    <h3>
      03
    </h3>
    <p>
      Explore travel
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </p>
  </section>

</section>

  <section class="watch container-no-wrap">
    <section class="watchimg">
      <img src="https://i.imgur.com/RlVTZIc.png" alt="">
      <img src="https://i.imgur.com/vjxyHaV.png" alt="">
    </section>
    <section>
      <h2>
        Watch The New <br>
        And Join
      </h2>
    </section>
    <section>
     <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam
      </p> 
    </section>
    <section>
      <img src="https://i.imgur.com/ithvjEa.png" alt="">
    </section>
  </section>

  <section class="marcas container">
    <img src="https://i.imgur.com/SHFkO3I.png" alt="">
    <img src="https://i.imgur.com/u0ZiBNV.png" alt="">
    <img src="https://i.imgur.com/ooo3BQG.png" alt="">
    <img src="https://i.imgur.com/zkFQ2IJ.png" alt="">
    <img src="https://i.imgur.com/lus242F.png" alt="">
  </section>

  <footer> 
    <section class="container-footer">
      <section>
        <h2>
          Travel
        </h2>
      </section>
      <section>
        <h2>
          Nos destinations
        </h2>
        <ul>
          <li>
            <a href="#"> Alaska</a>
          </li>
          <li>
            <a href="#"> Antarctique </a>
          </li>
          <li>
           <a href="#"> Canada </a>
          </li>
          <li>
           <a href="#"> Finlande </a>
          </li>
          <li>
           <a href="#"> Groeland </a>
          </li>
          <li>
           <a href="#"> Iles Feroee </a>
          </li>
        </ul>
      </section>
      <section>
        <h2>
          Thématiques
        </h2>
        <ul>
          <li>
           <a href="#"> Aurores boréales </a>
          </li>
          <li>
           <a href="#"> Autotour </a>
          </li>
          <li>
           <a href="#"> Canoë </a>
          </li>
          <li>
           <a href="#"> Chien de traîneau </a>
          </li>
          <li>
           <a href="#"> Croisière & voile </a>
          </li>
          <li>
           <a href="#"> Famille </a>
          </li>
          <li>
           <a href="#"> Multi-activités </a>
          </li>
          <li>
           <a href="#"> Observation animalière </a>
          </li>
          <li>
           <a href="#"> Photo </a>
          </li>
        </ul>
      </section>
      <section>
        <h2>
          Nos Voyages
        </h2>
        <ul>
          <li>
           <a href="#"> Accompagnés </a>
          </li>
          <li>
           <a href="#"> Sur mesure </a>
          </li>
          <li>
           <a href="#"> Croîsières </a>
          </li>
        </ul>
      </section>
    </section>
  </footer>