* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.canada {
  margin: 0 auto;
  flex-wrap: wrap; 
  text-align: center;
  background-image: url(https://i.imgur.com/pdO5PRk.png);
  background-size: cover;  
  padding: 250px 0;
  background-repeat: no-repeat;
  justify-content: center;
  min-height: 100vh;
  box-shadow:  inset 0px -30px 9px 0px #06112a;
}

.canada > p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem
}

.canada > h1 {
  font-size: 6rem;
  margin-bottom: 20px;
  font-family: 'Lora';
}

.canada > span {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  border: solid 2px white;
  padding: 15px 30px;
}

.icons {
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.icon {
  display: flex;
  align-items: center;
  font-family: 'Noto Sans';
}

.icon01::before {
  content: url(https://i.imgur.com/E0yrQoA.png);
  margin-right: 30px;
  border: solid 2px white;
  padding: 10px 15px;
}

.icon02::before {
  content: url(https://i.imgur.com/pEuPH53.png);
  margin-right: 30px;
  border: solid 2px white;
  padding: 15px 15px;
}

.icon03::before {
  content: url(https://i.imgur.com/Oejv1Sw.png);
  margin-right: 30px;
  border: solid 2px white;
  padding: 10px 15px;
}

.icon > p > span {
  display: block;
}

main > section:nth-child(2) {
  max-width: 400px;
  margin-left: 50px;
  align-self: center;
}

main > section:nth-child(2) > h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: 'Lora';
}

main > section:nth-child(2) > p {
  font-family: 'Noto Sans';
  margin-bottom: 100px;
}

main > section:nth-child(2) > a {
  font-size: 1.2rem;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  background-color: #da6d09;
}

.h2-top {
  font-size: 2.5rem;
  font-family: 'Lora';
  max-width: 950px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.topcities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.topcities > section > h3 {
  font-size: 2rem;
  margin: 20px 0;
}

.topcities > section > p:nth-child(3) {
  font-size: 1.5rem;
}

.topcities > section > section {
  display: flex;
  justify-content: space-between;
}

.topcities > section > section > a {
  text-decoration: none;
  color: #da6d09;
}
