* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #06112a;
  color: white;
  
}

li {
  list-style: none;;
}

.menu {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo-menu a {
  text-decoration: none;
  font-size: 2.3rem;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-nav a {
  text-decoration: none;
  margin-right: 40px;
  display: block;
  font-size: 1.2rem;
} 

header {
  box-shadow: inset 0px 11px 8px -10px #06112a
}