<header class="bg-menu">
  <section class="menu">
      <section class="logo-menu">
        <a>{{name}}</a>
      </section>
      <nav class="menu-nav">
          <!-- <button data-menu="button" aria-expanded="false" aria-controls="menu">Menu</button> -->
          <ul data-menu="list" id="menu">
              <li><a [routerLink]="['']"> Home</a></li>
              <li><a [routerLink]="['about']"> About</a></li>
              <li><a href="#"> Travel Guide</a></li>
              <li><a href="#"> Help</a></li>
          </ul>
      </nav>
  </section>
</header>