<body>
  <section class="container">
    <h1>
      Greenland
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/uXYlFn4.png" alt="">
      </div>

      <div>
        <p>
        Greenland is the world's largest island, located between the Arctic and Atlantic oceans, east of the Canadian Arctic Archipelago. Greenland is an autonomous territory within the Kingdom of Denmark. Today, the population is concentrated mainly on the southwest coast, while the rest of the island is sparsely populated. Greenland is divided into five municipalities – Sermersooq, Kujalleq, Qeqertalik, Qeqqata, and Avannaata.
        </p>
      </div>
    </div>
  </section>

  <h2 class="h2-top container">
    Destinations
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>


<section class="container-imagens">
  <div class="imagens">
    <img src="https://i.imgur.com/vmqiizg.png" alt="">
    <img src="https://i.imgur.com/6OvNjf5.png" alt="">
  </div>
  <div class="imagens">
    <img src="https://i.imgur.com/KvqkcnJ.png" alt="">
    <img src="https://i.imgur.com/8NWoosL.png" alt="">
    <img src="https://i.imgur.com/6Fb6LoO.png" alt="">
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/hNrc9Y8.png" alt="">
    <img src="https://i.imgur.com/Ef8h8zt.png" alt="">
  </div>
</section>

</body>
