<h1>
  Travel Guide
</h1>

<section>
  <div>
    <div>
      <img src="https://i.imgur.com/XxG9I6e.png" alt="">
    </div>
    <div>
      <h2>
      ALASKA
      </h2> 
    </div>
    <div>
      <img src="https://i.imgur.com/38YyaKN.png" alt="">
    </div>
  </div>
  <div>
  <div>
    TEXTO
  </div>
  <div>
    <img src="https://i.imgur.com/iETpkgH.png" alt=""> 
  </div>
  <div>
    TEXTO
  </div>
</div>
</section>

<section>
<div>
  <div>
    <img src="https://i.imgur.com/cqwgy5f.png" alt="">
  </div>
  <div>
    <h2>
      ANTARCTIQUE
    </h2> 
  </div>
  <div>
    <img src="https://i.imgur.com/q7Iz96c.png" alt="">
  </div>
  </div>
  <div>
    <div>
      TEXTO
    </div>
    <div>
    <img src="https://i.imgur.com/WBFQjfD.png" alt="">
    </div>
    <div>
      TEXTO
    </div>
  </div>
</section>

<section>
<div>
  <div>
    <img src="https://i.imgur.com/RSXN2LT.png" alt="">
  </div>
  <div>
    <h2>
      CANADA
    </h2> 
  </div>
  <div>
    <img src="https://i.imgur.com/t9SrQYb.png" alt="">
  </div>
  </div>
  <div>
    <div>
      TEXTO
    </div>
    <div>
      <img src="https://i.imgur.com/UFkK2at.png" alt=""> 
    </div>
    <div>
      TEXTO
    </div>
  </div>
</section>

<section>
<div>
  <div>
    <img src="https://i.imgur.com/MyBIZnm.png" alt="">
  </div>
  <div>
    <h2>
      FINLANDE
    </h2> 
  </div>
  <div>
    <img src="https://i.imgur.com/EQFLcCY.png" alt="">
  </div>
  </div>
  <div>
    <div>
      TEXTO
    </div>
    <div>
      <img src="https://i.imgur.com/J0m3nyx.png" alt=""> 
    </div>
    <div>
      TEXTO
    </div>
  </div>
</section>

<section>
<div>
  <div>
    <img src="https://i.imgur.com/Rqz4KhU.png" alt="">
  </div>
  <div>
    <h2>
      GROELAND
    </h2> 
  </div>
  <div>
    <img src="https://i.imgur.com/wPbiCEa.png" alt="">
  </div>
  </div>
  <div>
    <div>
      TEXTO
    </div>
    <div>
      <img src="https://i.imgur.com/NJqm6V4.png" alt="">
    </div>
    <div>
      TEXTO
    </div>
  </div>
</section>

<section>
<div>
  <div>
    <img src="https://i.imgur.com/7QgZdqn.png" alt="">
  </div>
  <div>
    <h2>
      ILES FEROEE
    </h2> 
  </div>
  <div>
    <img src="https://i.imgur.com/t6QXBTo.png" alt="">
  </div>
  </div>
  <div>
    <div>
      TEXTO
    </div>
    <div>
      <img src="https://i.imgur.com/u12DmOD.png" alt=""> 
    </div>
    <div>
      TEXTO
    </div>
  </div>
</section>