<h1>
  Travel Guide
</h1>

<section class="alaska container">
  <div>
    <div>
      <img src="https://i.imgur.com/XxG9I6e.png" alt="">
    </div>
    <div>
      <h2>
        ALASKA
      </h2> 
      <a href="#">
        view more
      </a>
    </div>
    <div>
      <img src="https://i.imgur.com/38YyaKN.png" alt="">
    </div>
  </div>
  <div>
  <div>
    <p>
    Alaska is a state in the Western United States, on the northwest extremity of the country's west coast. A semi-exclave of the U.S., it borders the Canadian
    </p>
  </div>
  <div>
    <img src="https://i.imgur.com/iETpkgH.png" alt=""> 
  </div>
  <div>
    <p>
    British Columbia and territory of Yukon to the east and has a maritime border with Russia's Chukotka Autonomous Okrug to the west, just across the Bering Strait.
    </p>
  </div>
  </div>
</section>

<section class="container antarctique">
<div>
  <div>
    <img src="https://i.imgur.com/cqwgy5f.png" alt="">
  </div>
  <div>
    <h2>
      ANTARCTIQUE
    </h2> 
    <a href="#">
       view more
    </a>
  </div>
  <div>
    <img src="https://i.imgur.com/q7Iz96c.png" alt="">
  </div>
  </div>
  <div>
    <div>
    <p>
    Antarctica is Earth's southernmost continent. It contains the geographic South Pole and is situated in the Antarctic region of the Southern Hemisphere, almost entirely south of the Antarctic Circle
    </p>
    </div>
    <div>
    <img src="https://i.imgur.com/WBFQjfD.png" alt="">
    </div>
    <div>
    <p>
    Antarctica, on average, is the coldest, driest, and windiest continent, and has the highest average elevation of all the continents.[7] Most of Antarctica is a polar desert
    </p>
    </div>
  </div>
</section>

<section class="container canada">
<div>
  <div>
    <img src="https://i.imgur.com/RSXN2LT.png" alt="">
  </div>
  <div>
    <h2>
      CANADA
    </h2> 
    <a href="#">
      view more
    </a>
  </div>
  <div>
    <img src="https://i.imgur.com/t9SrQYb.png" alt="">
  </div>
  </div>
  <div>
    <div>
    <p>
    Canada is a country in North America. Its ten provinces and three territories extend from the Atlantic to the Pacific and northward into the Arctic Ocean, covering 9.98 million square kilometres
    </p>
    </div>
    <div>
      <img src="https://i.imgur.com/UFkK2at.png" alt=""> 
    </div>
    <div>
    <p>
    Its southern and western border with the United States, stretching 8,891 kilometres (5,525 mi), is the world's longest bi-national land border. Canada's capital is Ottawa
    </p>
    </div>
  </div>
</section>

<section class="container finlande">
<div>
  <div>
    <img src="https://i.imgur.com/MyBIZnm.png" alt="">
  </div>
  <div>
    <h2>
      FINLAND
    </h2> 
    <a href="#">
      view more
    </a>
  </div>
  <div>
    <img src="https://i.imgur.com/EQFLcCY.png" alt="">
  </div>
  </div>
  <div>
    <div>
    <p>
      Finland is a Nordic country in Northern Europe. It shares land borders with Sweden to the west, Russia to the east, Norway to the north, and is defined by the Gulf of Bothnia to the west.
    </p>
    </div>
    <div>
      <img src="https://i.imgur.com/J0m3nyx.png" alt=""> 
    </div>
    <div>
    <p>
      Finland covers an area of 338,455 square kilometres (130,678 sq mi), with a population of 5.5 million. Helsinki is the country's capital and largest city, but together with the neighboring
    </p>
    </div>
  </div>
</section>

<section class="container groeland">
<div>
  <div>
    <img src="https://i.imgur.com/Rqz4KhU.png" alt="">
  </div>
  <div>
    <h2>
      GREENLAND
    </h2> 
    <a href="#">
      view more
    </a>
  </div>
  <div>
    <img src="https://i.imgur.com/wPbiCEa.png" alt="">
  </div>
  </div>
  <div>
    <div>
    <p>
    Greenland is the world's largest island, located between the Arctic and Atlantic oceans, east of the Canadian Arctic Archipelago. Greenland is an autonomous territory within the Kingdom of Denmark
    </p>
    </div>
    <div>
      <img src="https://i.imgur.com/NJqm6V4.png" alt="">
    </div>
    <div>
    <p>
    Today, the population is concentrated mainly on the southwest coast, while the rest of the island is sparsely populated. Greenland is divided into five municipalities – Sermersooq, Kujalleq, Qeqertalik, Qeqqata, and Avannaata.
    </p>
    </div>
  </div>
</section>

<section class="feroee container">
<div>
  <div>
    <img src="https://i.imgur.com/7QgZdqn.png" alt="">
  </div>
  <div>
    <h2>
      FAROE ISLANDS
    </h2> 
    <a href="#">
      view more
    </a>
  </div>
  <div>
    <img src="https://i.imgur.com/t6QXBTo.png" alt="">
  </div>
  </div>
  <div>
    <div>
    <p>
    Faroe Islands are a North Atlantic archipelago located 320 kilometres (200 mi) north-northwest of Scotland, and about halfway between Norway and Iceland. Like Greenland, it is a constituent country of the Kingdom of Denmark.
    </p>
    </div>
    <div>
      <img src="https://i.imgur.com/u12DmOD.png" alt=""> 
    </div>
    <div>
    <p>
      While part of the Kingdom of Denmark, the Faroe Islands have been self-governing since 1948, controlling most areas apart from military defence, policing, justice, currency, and foreign affairs.
    </p>
    </div>
  </div>
</section>