<body>
  <section class="container">
    <h1>
      Canada
    </h1>

    <div class="alaska container">
      <div>
        <img src="https://i.imgur.com/4qEVuOj.png" alt="">
      </div>

      <div>
        <p>
        Canada is a country in North America. Its ten provinces and three territories extend from the Atlantic to the Pacific and northward into the Arctic Ocean, covering 9.98 million square kilometres. Its southern and western border with the United States, stretching 8,891 kilometres (5,525 mi), is the world's longest bi-national land border. Canada's capital is Ottawa
        </p>
      </div>
    </div>
  </section>

  <h2 class="h2-top">
    Destinations
  </h2>

  <section class="topcities">
  <section>
  <img src="https://i.imgur.com/JRiuNMr.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/kUNt4Dz.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/YG3FLm0.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

  <section>
  <img src="https://i.imgur.com/e5DTV7i.png" alt="">
  <h3>
  Mancher
  </h3>
  <p>
  3 days 4 nigths
  </p>
  <p>
  Mancher road side, of 2030.ads
  </p>
  <section>
  <a href="#">Book Now</a>
  <p> $399 </p>
  </section>
  </section>

</section>


<section class="container-imagens">
  <div class="imagens">
    <img src="https://i.imgur.com/B06ftLA.png" alt="">
    <img src="https://i.imgur.com/jfE3hMQ.png" alt="">
  </div>
  <div class="imagens">
    <img src="https://i.imgur.com/6L1V9Y6.png" alt="">
    <img src="https://i.imgur.com/lbcLvl3.png" alt="">
    <img src="https://i.imgur.com/zvSnwLO.png" alt="">
  </div>
</section>

<section class="container-imagens">
  <div>
    <img src="https://i.imgur.com/TPHKZvo.png" alt="">
    <img src="https://i.imgur.com/HIrHCOz.png" alt="">
  </div>
</section>

</body>
